.content-tools {
  left: 0;
  right: 0;
  bottom: 0;
  .trigger {
    cursor: pointer;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:before {
      border-radius: .5rem;
    }
  }
}
