.calculator {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  .calculator-trigger {
    cursor: pointer;
    display: inline-block;
    border-bottom: none;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:before {
      border-radius: .5rem;
    }
  }
  label {
    margin: 0;
    &[for=calculator-input] {
      flex-basis: 66%;
    }
    &[for=calculator-output] {
      flex-basis: 34%;
    }
  }
}
