.grade-bar {
  rect {
    height: 8px;
  }

  .grade-bar__base {
    fill: $border-color;
  }

  .grade-bar__divider {
    fill: none;
    width: 1px;
  }

  .grade-bar--passing {
    fill: $primary-500;
  }

  .grade-bar--current-passing {
    fill: $success-500;
  }

  .grade-bar--current-non-passing {
    fill: $secondary;
  }
}

.arrow {
  margin: 0 !important;
}

.grade-popover {

  .popover-body {
    font-size: 1.125rem;
  }
}

#minimum-grade-tooltip {
  .arrow::after {
    border-bottom-color: $primary-500;
  }
}

#passing-grade-tooltip {
  .arrow::after {
    border-top-color: $success-500;
  }

  background: $success-500;
}

#non-passing-grade-tooltip {
  .arrow::after {
    border-top-color: $secondary;
  }

  background: $secondary;
}
