@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

.flag-button {
  background-color: white;
  border: 2px solid $light-400;
  border-radius:.2rem;
  box-shadow: none;

  &:focus {
    border: 2px solid $primary-300;
  }

  &:hover {
    border: 2px solid $primary-300;
  }
}

 input[type=radio]:checked + .flag-button  {
   border: 2px solid $primary-300;
}
