.outline-sidebar-proctoring-panel {
  border: 1px solid var(--pgn-color-bg-dark-500);
  border-top: 5px solid var(--pgn-color-bg-brand-600);
}
.proctoring-onboarding-success {
  border-top: 5px solid var(--pgn-color-bg-primary-500);
}
.proctoring-onboarding-submitted {
  border-top: 5px solid var(--pgn-color-bg-dark-500);;
}
