.outline-sidebar-proctoring-panel {
  border: 1px solid var(--pgn-color-dark-500);
  border-top: 5px solid var(--pgn-color-brand-600);
}
.proctoring-onboarding-success {
  border-top: 5px solid var(--pgn-color-primary-500);
}
.proctoring-onboarding-submitted {
  border-top: 5px solid var(--pgn-color-dark-500);
}
