$default-border-color: $info-300;
.course-recommendations {
  .pgn__data-table-wrapper {
    border: 0;
    .pgn__card-grid {
      .row > div[class*="col-"] {
        justify-content: center;
      }
    }
  }

  .discovery-card {
    min-width: 270px;
    max-width: 270px;
    width: 270px;
    height: 270px;
    position: relative;
    border-bottom: 3px solid $default-border-color;
    background-color: $white;
    box-shadow: none;
    padding: 0;
    border: none;

    &.custom-link {
      background: none;
    }

    .d-card-wrapper {
      height: 270px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
      border: {
        color: $primary-200;
        width: 1px;
        radius: 3px;
      }
    }

    .discovery-card-link {
      text-decoration: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &:focus,
      &:hover {
        border: 0;
        outline: none;

        .d-card-wrapper {
          box-shadow: 0 2px 4px 2px $gray-500;
        }
      }
    }

    .d-card-hero {
      height: 102px;
      background-color: $gray-200;
      overflow: hidden;
      border: {
        radius: 3px 3px 0 0;
        bottom: 1px solid $success-100;
      }
    }

    .d-card-body {
      padding: 28px 20px 33px;
    }

    .d-card-footer {
      padding: 0 20px;
    }

    .name-heading {
      height: auto;
      line-height: 1.15;
      color: $gray-700;
      font: {
        family: $font-family-sans-serif;
        size: 1.25rem;
        weight: 500;
      }
    }

    .provider {
      line-height: 0.86;
      color: $gray-500;
      margin-bottom: 20px;
      font: {
        family: $font-family-sans-serif;
        size: 0.875rem;
        weight: $font-weight-normal;
      }
    }

    .card-type {
      height: 20px;
      line-height: 1.67;
      letter-spacing: 0.2px;
      color: $gray-500;
      position: absolute;
      bottom: 10px;
      font: {
        family: $font-family-sans-serif;
        size: 0.75rem;
        weight: $font-weight-normal;
      }
    }
  }
}
