$checkpoint-arrow-width: 15px;
$checkpoint-arrow-brand: solid $checkpoint-arrow-width $brand;
$checkpoint-arrow-light-300: solid $checkpoint-arrow-width $light-300;
$checkpoint-arrow-transparent: solid $checkpoint-arrow-width transparent;

.checkpoint-popover {
  position: absolute;
  border-top: 8px solid $brand;
  border-radius: $border-radius;
  box-shadow: $popover-box-shadow;
  z-index: 1060;
  max-width: $popover-max-width;
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    min-width: 90%;
    max-width: 90%;
  }

  #checkpoint-arrow,
  #checkpoint-arrow::before,
  #checkpoint-arrow::after {
    position: absolute;
    width: 0;
    height: 0;
  }

  #checkpoint-arrow {
    visibility: hidden;
  }

  #checkpoint-arrow::before,
  #checkpoint-arrow::after {
    visibility: visible;
    content: '';
  }

  .checkpoint-popover_breadcrumb_active {
    fill: $primary;
  }

  .checkpoint-popover_breadcrumb_inactive {
    fill: transparent;
    stroke: $primary;
    stroke-width: 1px;
  }

  .checkpoint-popover_breadcrumb:not(:first-child) {
    margin-left: 4px;
  }
}

.checkpoint-popover[data-popper-placement^='top'] > #checkpoint-arrow {
  left: -$checkpoint-arrow-width !important;
  bottom: 1px;

  &::after {
    border-bottom: $checkpoint-arrow-transparent;
    border-top: $checkpoint-arrow-light-300;
    border-left: $checkpoint-arrow-transparent;
    border-right: $checkpoint-arrow-transparent;
    -webkit-filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.1));
    filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.1));
  }
}

.checkpoint-popover[data-popper-placement^='bottom'] > #checkpoint-arrow {
  top: -36px;
  left: -$checkpoint-arrow-width !important;
  &::before {
    border-bottom: $checkpoint-arrow-brand;
    border-top: $checkpoint-arrow-transparent;
    border-left: $checkpoint-arrow-transparent;
    border-right: $checkpoint-arrow-transparent;
  }
}

.checkpoint-popover[data-popper-placement^='left'] > #checkpoint-arrow {
  top: -$checkpoint-arrow-width !important;
  right: 1px;

  &::after {
    border-bottom: $checkpoint-arrow-transparent;
    border-top: $checkpoint-arrow-transparent;
    border-left: $checkpoint-arrow-light-300;
    border-right: $checkpoint-arrow-transparent;
    -webkit-filter: drop-shadow(3px 1px 2px rgba(0,0,0,0.1));
    filter: drop-shadow(3px 1px 2px rgba(0,0,0,0.1));
  }
}

.checkpoint-popover[data-popper-placement^='right'] > #checkpoint-arrow {
  top: $checkpoint-arrow-width !important;
  left: 1px;

  &::after {
    left: -2 * $checkpoint-arrow-width;
    border-bottom: $checkpoint-arrow-transparent;
    border-top: $checkpoint-arrow-transparent;
    border-left: $checkpoint-arrow-transparent;
    border-right: $checkpoint-arrow-light-300;
    -webkit-filter: drop-shadow(-3px 1px 2px rgba(0,0,0,0.1));
    filter: drop-shadow(-3px 1px 2px rgba(0,0,0,0.1));
  }
}
