.upgrade-to-complete-alert-title.h4 {
  font-size: $h3-font-size;
  font-weight: $font-weight-bold;
}

.upgrade-to-complete-alert-text,
.upgrade-to-shift-dates-alert-text,
.shift-dates-alert-text {
  font-size: $font-size-base;
}
