@import '~@edx/paragon/scss/edx/theme.scss';

@import './courseware/index';

@import "~@edx/frontend-component-header/dist/index";
@import "~@edx/frontend-component-footer/dist/footer";

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    flex: 0;

    .logo {
      display: block;
      box-sizing: content-box;
      position: relative;
      top: .10em;
      height: 1.75rem;
      margin-right: 1rem;
      img {
        display: block;
        height: 100%;
      }
    }
  }

  footer {
    flex: 0;
  }
}

.nav-underline-tabs {
  .nav-link {
    border-bottom: 4px solid transparent;
    color: theme-color('gray', 700);

    &:hover,
    &:focus,
    &.active {
      font-weight: $font-weight-normal;
      color: theme-color('primary', 500);
      border-color: theme-color('primary', 500);
    }
  }
}
