@import '~@edx/paragon/scss/edx/theme.scss';

@import './learning-sequence/index';

@import "~@edx/frontend-component-header/dist/index";
@import "~@edx/frontend-component-footer/dist/footer";

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    flex: 0;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;

    iframe {
      flex: 1;
      margin: 0 -10px;
    }

    nav {
      display: flex;
      flex-direction: row;
      width: 100%;

      .unit-button {
        flex: 1;
      }

      button {
        margin: 0px 5px;
      }
    }
  }

  footer {
    flex: 0;
  }
}

.nav-underline-tabs {
  .nav-link {
    border-bottom: 4px solid transparent;
    color: theme-color('gray', 700);

    &:hover,
    &:focus,
    &.active {
      font-weight: $font-weight-normal;
      color: theme-color('primary', 500);
      border-color: theme-color('primary', 500);
    }
  }
}
