name: validate
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - '**'
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
    - run: make validate.ci
    - name: Archive code coverage results
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report
        path: coverage/*.*
  coverage:
    runs-on: ubuntu-latest
    needs: tests
    steps:
    - uses: actions/checkout@v5
    - name: Download code coverage results
      uses: actions/download-artifact@v5
      with:
        name: code-coverage-report
    - name: Upload coverage
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}